@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}

body {
    background-color: hsl(0, 0%, 95%);
}

.wrapper {
    display: flex;
    align-items: stretch;
}

main.marginless {
    margin-left: 0;
}

.main-content {
    margin-left: 250px;
    transition: margin 0.3s;
    width: 100%;
}

p {
    text-align: justify;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #1177d1;
}

header {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 1.25em;
    text-transform: uppercase;
}

section {
    margin-top: 1em;
    margin-bottom: 2.5em;
}

section:not(.full-width), .full-width>header {
    padding: 0 10px;
}

#topbar {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.user-toggle {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-toggle img {
    height: 40px;
    border-radius: 100%;
}

.user-toggle:focus {
    background-color: transparent;
}

#user-dropdown {
    margin: 5px;
}

.user-info {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.user-info img {
    border-radius: 100%;
    max-width: 65px;
    margin-right: 10px;
}

.dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-item:hover {
    background: #EAECF4 !important;
}

.dropdown-item svg {
    margin-right: 10px;
}

#sidebar {
    background: #1177d1;
    color: #fff;
    position: fixed;
    width: 250px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 10px 5px;
    background: #1177d1;
}

#sidebar .sidebar-header img{
    border: 2px solid #fff;
    border-radius: 100%;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #1177d1;
    background: #fff;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: #fff;
    background: #1177d1;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebarCollapse {
    height: 2.5rem;
    width: 2.5rem;
    z-index: 150;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.nav-link {
    display: flex !important;
    align-items: center;
}

.nav-link svg {
    margin-right: 5px;
}

.button-grid {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(2, 1fr);
}

.navbar-brand img {
    width: 48px;
    margin-right: 10px;
}

.profile-img {
    max-width: 100px;
}

.address-text {
    font-size: 12px;
}

.user-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-modal {
    max-width: 320px !important;
    margin: 1.75rem auto !important;
}

.user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .5rem;
    max-width: 320px;
}

.main-user-info {
    width: 100%;
    flex: 1;
    background-image: linear-gradient(to right bottom, rgb(56, 189, 248), rgb(99, 102, 241));
    color: white;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.sec-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 3;
    padding: 15px 15px 15px 30px;
}

.info-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container {
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1 1 0px;
}

.info-text {
    color: #585858;
}

.block-info {
    font-size: 11px;
}

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.about-container p {
    max-width: 70ch;
    text-align: left;
}

.table-container {
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 1rem;
    display: none;
}

table {
    border-collapse: collapse;
    border-radius: 12px;
    text-indent: 0;
    margin-bottom: 0 !important;
}

thead {
    background-color: #f9fafb;
}

tbody {
    background-color: #ffffff;
    border-top: 1px solid hsl(220, 13%, 91%);
}

td, th {
    border-top: none !important;
}

th {
    color: hsl(220, 9%, 46%);
    letter-spacing: .05em;
    text-transform: uppercase;
}

th:first-child {
    border-top-left-radius: 12px !important;
}

th:last-child {
    border-top-right-radius: 12px !important;
}

tr {
    border: solid;
    border-width: 1px 0;
    border-color: hsl(220, 13%, 91%);
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

td {
    vertical-align: middle !important;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin: 5px;
    border-radius: 12px;
}

.main-container-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.menu-container {
    border-radius: 12px;
}

.selector-container {
    flex: 2;
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
}

.forms-container {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    padding: 16px 20px;
    min-width: 310px;
    width: 100%;
    min-height: 484px;
}

.tables-container {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    width: 100%;
}

.selector-box {
    border-radius: 12px;
    background-color: white;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s all;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.selector-box.selected {
    background-color: hsl(208, 85%, 44%);
    color: #fff;
}

.selector-box:hover {
    background-color: #0EA5E9;
    color: #fff;
}

.selector-box p {
    text-align: left;
}

.qr-link {
    color: hsl(243, 75%, 59%);
}

.qr-link:hover {
    color: hsl(242, 47%, 34%);
}

@media handheld {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@media (orientation:landscape) {
    #tabletrans {
        table-layout: auto;
        font-size: 1.2vw;
        width: 100%;
    }
}

@media (orientation:portrait) and (max-width: 768px) {
    #acciones {
        table-layout: auto;
        width: 100%;
    }
    #tabletrans {
        table-layout: auto;
        font-size: 3vw;
        width: 100%;
    }
    .button-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 361px) {
    #sidebarCollapse {
        position: fixed;
    }
    #sidebarCollapse.active {
        position: static;
    }
}

@media screen and (max-width: 576px) {
    .card {
        padding: 2rem 1rem !important;
    }
}

@media (min-width:768px) {
    .plot {
        width: 768px;
        height: 576px;
    }
    .selector-container {
        min-height: 484px;
    }
}

@media (max-width:767px) {
    .plot {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    #sidebarCollapse, .content-title {
        display: none !important;
    }
    #sidebar {
        display: block;
    }
}

@media screen and (max-width: 1023px) {
    .main-content {
        margin-left: 0px;
    }
    #sidebarCollapse {
        margin-left: 250px;
        transition: margin 0.3s;
    }
    #sidebarCollapse.active {
        margin-left: 0px;
    }
    .top-title {
        display: none;
    }
}

@media handheld and (max-width: 992px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .main-container-sub {
        flex-direction: column;
    }
}

@media (orientation:landscape) and (min-width: 1024px) {
    #tabletrans {
        table-layout: auto;
        font-size: 0.8vw;
        width: 100%;
    }
}

@media only screen and (max-width: 1500px) {
    .selector-container {
        flex-direction: column;
    }
    .selector-box {
        max-height: 74px;
    }
    .selector-box.selected {
        max-height: none;
    }
    .selector-box p {
        display: none;
    }
    .selector-box h3 {
        margin-bottom: 0px !important;
    }
    .selector-box.selected h3 {
        margin-bottom: .5rem !important;
    }
    .selector-box.selected p {
        display: block;
    }
}