{% extends "base.html" %} 
{% block headtitle %}
{{gettext('Sobre DeustoCoin')}}
{% endblock %}
{% block body %}
<h2 class="h2 content-title">{{gettext('Sobre DeustoCoin')}}</h2>
<div>
  <div class="about-container">
    <p>{{gettext('DeustoCoin es un proyecto que pretende fomentar el lema <b>“Blockchain for Good”</b> y contribuir a un
      mundo mejor a través de una tecnología emergente como es el Blockchain. <br><br>
  
      Dicho proyecto consta de una aplicación web en la que pueden operar tanto miembros de la universidad de Deusto como
      promotores de campañas pertenecientes a empresas externas a la universidad (cafeterías, museos, transporte...).
      <br><br>
  
      Mediante este proyecto, se pretende mejorar la imagen corporativa de la Universidad, cumpliendo con varios de los 17
      ODS <b>(Objetivos de Desarrollo Sostenible)</b> establecidos por las Naciones Unidas. <br><br>
  
      Hay varios roles que conforman la plataforma de DeustoCoin, además de una criptomoneda basada en Ethereum
      <b>(UDCoin)</b> que será la moneda a canjear para las diferentes ofertas. Los roles en cuestión varían en función
      del usuario, y hay tres: <b>Colaborador</b>, <b>promotor</b>, y un <b>administrador</b> que podrá realizar las
      tareas de los dos tipos de usuario anteriores. <br><br>
  
      El <b>colaborador</b> podrá realizar una serie de tareas como el envío de monedas a compañeros, consulta de
      campañas, canjeo de UDCoins en ofertas y registro y confirmación de una buena acción para así obtener su respectiva
      recompensa. <br><br>
  
      Los <b>promotores</b> podrán lanzar campañas y acciones, monitorizar los KPIs de las mismas, y observar en gráficas
      el progreso de las acciones correspondientes a las campañas. <br><br>
  
      Las tecnologías utilizadas en el proyecto son <b>Python, Ethereum (Infura), IPFS, HTML y Google App Engine</b>.')}}
    </p>
  </div>
  <br><br>
  <p class="mt-5 mb-3 text-muted text-center">&copy; 2020-2021 - MORELab</p>
</div>
{% endblock %}