{% extends "base.html" %}
{% block headtitle %}
{{gettext('Good deed editor')}}
{% endblock %}
{% block body %}
<h2 class="h2 content-title">{{gettext('Good deed editor')}}</h2>
<h5>{{campaign.name}} ({{campaign.company}})</h5>
<div id="acciones">
    {% if actions|length >= 1 %}
    <div class="row">
        {% for a in actions %}
        <div class="col-xl-4 mb-4">
            <div class="card shadow mb-4 h-100" style="padding: 0 !important;">
                <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                    <h5 class="m-0 font-weight-bold">{{a.name}}</h5>

                    <form method="post" id="offer-form-{{a.id}}"
                        class="d-flex align-items-center justify-content-center">
                        <input type="submit" name="edit_action" class="{{a.id}} btn btn-sm btn-outline-primary mx-1 my-1"
                            value="✎">
                        <input type="button" name="delete_offer"
                            class="{{a.id}} btn btn-sm btn-outline-danger mx-1 my-1" value="✖" data-toggle="modal"
                            data-target="#delete-modal-{{a.id}}">
                        <input value="{{a.id}}" name="action_id" style="display: none;">
                    </form>
                </div>
                <div class="card-body">
                    <span class="font-weight-bold">Company: {{a.company}}</span>
                    <p class="text-left">{{a.description}}</p>
                    <table class="table m-0" style="table-layout:fixed; font-size:75%;"">
                        <tr>
                            <td class="font-weight-bold">{{gettext('Indicador')}}:</td>
                            <td>{{a.kpi_indicator}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">{{gettext('Recompensa por KPI (en UDC)')}}:</td>
                            <td>{{a.reward}} UDC</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold">{{gettext('Objetivo')}}:</td>
                            <td>{{a.kpi_target}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="delete-modal-{{a.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Do you want to delete the action "{{a.name}}"?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" id="delete-submit-{{a.id}}" href="/action-editor/{{a.id}}">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#delete-submit-{{a.id}}').click(function (e) {
                e.preventDefault();
                let input = $('<input>')
                    .attr("type", "hidden")
                    .attr('name', 'delete_action');
                $('#offer-form-{{a.id}}').append(input);
                $('#offer-form-{{a.id}}').submit();
            });
        </script>
        {% endfor %}
    </div>
    {% else %}
    <h4>{{gettext('No hay acciones para mostrar')}}</h4>
    {% endif %}
</div>
{% endblock %}