{% extends "base.html" %}
{% block headtitle %}
{{gettext('Acciones')}}
{% endblock %}
{% block body %}
<h2 class="h2 content-title">{{gettext('Acciones')}}</h2>
<div class="view">
  <div class="bg-light card px-5 py-5 mb-5">
    <h2>{{gettext('Hola')}}, {{ name }}.</h2>
    <h2>
      <span style="font-size: 1rem">{{gettext('Estas son las acciones disponibles para ti.')}}</span>
    </h2>
  </div>

</div>
<div id="acciones">
  {% if actions|length >= 1 %}
  <div class="row">
    {% for a in actions %}
    <div class="col-xl-4 mb-4">
      <div class="card shadow mb-4 h-100" style="padding: 0 !important;">
        <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
          <h5 class="m-0 font-weight-bold">{{a.name}}</h5>
        </div>
        <div class="card-body">
          <span class="font-weight-bold">Company: {{a.company}}</span>
          <p class="text-left">{{a.description}}</p>
          <div class="d-flex align-items-center justify-content-center">
            <a href="{{ url_for('register_action', action_id=a.id) }}" class="btn btn-sm btn-outline-info">
              <b>{{gettext('Registrar acción')}}</b>
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <h4>{{gettext('No hay acciones para mostrar.')}}</h4>
  {% endif %}
</div>
{% endblock %}