<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>DeustoCoin {% block title %} {% endblock %}</title>

    <base href="/" />
    <meta name="color-scheme" content="light dark" />
    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon/deustoCoin.ico') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon/deustoCoin-152.png') }}">
    <meta name="theme-color" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="DeustoCoin">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='icon/deustoCoin-144.png') }}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <meta name="google-signin-scope" content="profile email" />
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <meta name="google-signin-client_id"
        content="543251693947-uuomjheqpj6piup81pvbahrc3nu25o9m.apps.googleusercontent.com" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        var $homeIcon = $('#sidebar');
        $(window).resize(function () {
            if (window.innerWidth >= 1024) $homeIcon.removeClass('active');
        });

    </script>
    <script>
        function sidebarChange() {
            var win = $(this);
            if (win.width() >= 1024 && !$('sidebar').hasClass('active')) {
                $('#sidebar').removeClass('active');
                $('#sidebarCollapse').removeClass('active');
                $('main').removeClass('marginless');
            } else if (win.width() < 1024 && !$('sidebar').hasClass('active')) {
                $('#sidebar').addClass('active');
                $('#sidebarCollapse').addClass('active');
                $('main').addClass('marginless');
            }
        }
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#sidebarCollapse').toggleClass('active');
                $('main').toggleClass('marginless');
            });
        });
        $(window).on('resize', sidebarChange);
        $(window).on('scroll', sidebarChange);
        $(document).on('click', function (e) {
            if(
                $(e.target).closest('#sidebar').length == 0 &&
                $(e.target).closest('#sidebarCollapse').length == 0 &&
                !$('#sidebar').hasClass('active') &&
                $(this).width() < 1024
            ) {
                $('#sidebar').toggleClass('active');
                $('#sidebarCollapse').toggleClass('active');
                $('main').toggleClass('marginless');
            }
        });
    </script>
</head>

<body>
    {% if user != None %}
    <div class="wrapper" style="overflow:auto;">
        <nav id="sidebar" style="flex-shrink:0;">
            <div class="sidebar-header">
                {% if user.role == "Collaborator" %}
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('wallet') }}">
                    <img src="{{ url_for('static', filename='icon/deustoCoin-144.png') }}" alt="logo">
                    DeustoCoin
                </a>
                {% else %}
                <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ url_for('dashboard') }}">
                    <img src="{{ url_for('static', filename='icon/deustoCoin-144.png') }}" alt="logo">
                    DeustoCoin
                </a>
                {% endif %}
            </div>
            <div class="sidebar-content">
                <ul class="nav flex-column">
                    {% if user.role == "Promoter" or user.role == "Administrator" %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('dashboard')}}">
                            <span class="iconify" data-icon="grommet-icons:domain" data-inline="false"></span>
                            {{gettext('Menú principal')}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('campaigns_admin')}}">
                            <span class="iconify" data-icon="akar-icons:edit" data-inline="false"></span>
                            {{gettext('Editor de campañas')}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('offers_admin')}}">
                            <span class="iconify" data-icon="carbon:tag-edit" data-inline="false"></span>
                            {{gettext('Editor de ofertas')}}
                        </a>
                    </li>
                    {% endif %}
                    {% if user.role == "Collaborator" or user.role == "Administrator" %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for('wallet')}}">
                            <span class="iconify" data-icon="akar-icons:wallet" data-inline="false"></span>
                            {{gettext('Cartera')}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('actions')}}">
                            <span class="iconify" data-icon="codicon:github-action" data-inline="false"></span>
                            {{gettext('Acciones')}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('campaigns')}}">
                            <span class="iconify" data-icon="ic:baseline-campaign" data-inline="false"></span>
                            {{gettext('Campañas')}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('offers')}}">
                            <span class="iconify" data-icon="ic:outline-local-offer" data-inline="false"></span>
                            {{gettext('Ofertas')}}
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('transaction_history')}}">
                            <span class="iconify" data-icon="ri:file-history-line" data-inline="false"></span>
                            {{gettext('Historial de transacciones')}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('about')}}">
                            <span class="iconify" data-icon="ant-design:info-circle-outlined"
                                data-inline="false"></span>
                            {{gettext('Sobre DeustoCoin')}}</a>
                    </li>
                </ul>
                <div class="sidebar-footer">
                    <p class="mt-5 mb-3 text-center"><a href="{{url_for('language', lang='en')}}">EN</a>&nbsp;&nbsp;<a
                            href="{{url_for('language', lang='es')}}">ES</a>&nbsp;&nbsp;<a
                            href="{{url_for('language', lang='eu')}}">EU</a>
                    </p>
                </div>
            </div>
        </nav>

        <div class="main-content">
            <nav id="topbar" class="navbar navbar-expand navbar-light bg-white topbar m-0 static-top">
                <button id="sidebarCollapse" class="btn btn-link rounded-circle p-0 bg-light d-flex align-items-center 
                        justify-content-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"
                        fill="#000000">
                        <path d="M0 0h24v24H0V0z" fill="none" />
                        <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
                    </svg>
                </button>

                <div class="top-title">
                    <h2 class="h2 m-0">
                        {% block headtitle %} {% endblock %}
                    </h2>
                </div>

                <a class="user-toggle" href="#" data-toggle="dropdown">
                    <img class="img-responsive img-rounded" src="{{ session['picture'] }}">
                </a>

                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" id="user-dropdown">
                    <div class="user-info">
                        <div class="user-pic">
                            <img class="img-responsive img-rounded" src="{{ session['picture'] }}">
                        </div>
                        <div class="user-text">
                            <span class="user-name">
                                <strong> {{ user.name }}</strong>
                            </span>
                            <br>
                            <span class="user-role"> {{ gettext(user.role) }}</span>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#profileModal">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="20"
                            height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="#2c3e50" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <circle cx="12" cy="7" r="4" />
                            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                        Profile
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="20"
                            height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="#2c3e50" fill="none"
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M7 12h14l-3 -3m0 6l3 -3" />
                        </svg>
                        Logout
                    </a>
                </div>
            </nav>

            <main role="main" class="pt-3 px-4">
                {% block body %} {% endblock %}
            </main>
        </div>

    </div>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{ url_for('logout')}}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog user-modal" role="document">
            <div class="modal-content user-container">
                <div class="main-user-info d-flex flex-column align-items-center justify-content-center p-5">
                    <img class="profile-img rounded-circle" src="{{ session['picture'] }}">
                    <h4 class="my-2 text-center"><strong>{{ user.name }}</strong></h4>
                    <h6>{{ gettext(user.role) }}</h6>
                </div>
                <div class="sec-user-info">
                    <div class="info-container">
                        <p class="d-flex flex-column align-items-start">
                            <strong class="info-title">Email</strong>
                            <span class="info-text">{{ user.email }}</span>
                        </p>
                    </div>
                    <div class="info-container">
                        <p class="d-flex flex-column align-items-start">
                            <strong class="info-title">Organization</strong>
                            <span class="info-text">{{ user.organization }}</span>
                        </p>
                    </div>
                    <div class="info-container">
                        <p class="d-flex flex-column align-items-start">
                            <strong class="info-title">Blockchain address</strong>
                            <span class="info-text block-info">{{ user.block_addr }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace();
    </script>

    </div>
</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>