{% extends "base.html" %}
{% block headtitle %}
{{gettext('Campaign editor')}}
{% endblock %}
{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if user.role == "Administrator" %}
    <h1 class="h2 content-title">{{gettext('Editor de campañas - Administrador')}}</h1>
    {% else %}
    <h1 class="h2 content-title">{{gettext('Editor de campañas de')}} {{user.organization}}</h1>
    {% endif %}
</div>
<div class="view">

</div>
<div id="campanyas">
    {% if campaigns|length >= 1 %}
    <div class="row">
        {% for c in campaigns %}
        <div class="col-xl-6 mb-4">
            <div class="card shadow mb-4 h-100" style="padding: 0 !important;">
                <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                    <h5 class="m-0 font-weight-bold">{{c.name}}</h5>

                    <form action="{{ url_for('campaigns_admin') }}" method="post" id="campaign-form-{{c.id}}"
                        class="d-flex align-items-center justify-content-center">
                        <input type="submit" name="edit_campaign"
                            class="{{c.id}} btn btn-sm btn-outline-primary mx-1 my-1" value="✎">
                        <input type="button" name="delete_campaign"
                            class="{{c.id}} btn btn-sm btn-outline-danger mx-1 my-1" value="✖" data-toggle="modal"
                            data-target="#delete-modal-{{c.id}}">
                        <input value="{{c.id}}" name="id" style="display: none;">
                    </form>
                </div>
                <div class="card-body">
                    <span class="font-weight-bold">Company: {{c.company}}</span>
                    <p class="text-left">{{c.description}}</p>
                    <div class="d-flex align-items-center justify-content-center">
                        <form action="{{ url_for('actions_admin', campaign_id=c.id) }}" method="post">
                            <input type="submit" name="view_action" class="{{c.id}} btn btn-outline-info btn-sm"
                                value="{{gettext('Ver acciones')}}">
                            <input value="{{c.id}}" name="id" style="display: none;">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="delete-modal-{{c.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Do you want to delete the campaign "{{c.name}}"? <i>All of its associated
                            good deeds will also be deleted.</i></div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" id="delete-submit-{{c.id}}" href="/campaign-editor">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#delete-submit-{{c.id}}').click(function (e) {
                e.preventDefault();
                let input = $('<input>')
                    .attr("type", "hidden")
                    .attr('name', 'delete_campaign');
                $('#campaign-form-{{c.id}}').append(input);
                $('#campaign-form-{{c.id}}').submit();
            });
        </script>
        {% endfor %}
    </div>

    {% else %}
    <h4>{{gettext('No hay campañas para mostrar.')}}</h4>
    {% endif %}
</div>
{% endblock %}