{% extends "base.html" %}
{% block headtitle %}
{{gettext('Campañas')}}
{% endblock %}
{% block body %}
<h2 class="h2 content-title">{{company}} - {{gettext('Campañas')}}</h2>
<div id="campanyas">
  <p>
    {{gettext('Estas son las campañas que promueve')}} <strong>{{company}}</strong>.
  </p>

  {% if campaigns|length >= 1 %}
  {% for c in campaigns %}
  <div class="{{c.company}}">
    <h5>{{c.name}}</h5>
    <p>{{c.description}}</p>
    {% for a in actions %}
    {% if a.campaign_id == c.id %}
    <img src="/plot{{a.id}}.png" class="plot">
    {% endif %}
    {% endfor %}
    <!--<img src="/plot{{c.id}}.png" width="640" height="480">-->
  </div>

  {% endfor %}
  {% else %}
  <h4>{{gettext('No hay campañas para mostrar.')}}</h4>
  {% endif %}
</div>

{% endblock %}