{% extends "base.html" %}
{% block headtitle %}
{{gettext('Menú principal')}}
{% endblock %}
{% block body %}
<div class="view">
  <h2 class="h2 content-title">{{gettext('Menú principal')}}</h2>

  <div class="main-container">
    <div class="main-container-sub">
      <div class="selector-container menu-container">
        <div class="selector-box" id="select-campaigns">
          <h3>Campaigns</h3>
          <p>
            Campaigns are groups of good deeds with the objective of fulfilling the UN's Sustainable Development Goals.
            When creating new campaigns, we encourage the promoters to add a detailed description explaining the
            campaign's objectives and what collaborators can do to help fulfill those objectives.
          </p>
        </div>
        <div class="selector-box" id="select-actions">
          <h3>Good deeds</h3>
          <p>
            Good deeds are actions that collaborators can complete to help fulfill the good deed's campaign's
            objectives. Actions have a reward for completing them, and a target to complete them. For example, a good
            deed that encourages using a reusable coffee cup in the cafeteria might reward 0.2UDC (equivalent to 0.2€)
            and have a target of 1000 total reuses. When creating the good deed, you must indicate its measurement
            unit/KPI indicator. In this case, it would be 'Number of reuses'.
          </p>
        </div>
        <div class="selector-box" id="select-offers">
          <h3>Offers</h3>
          <p>
            As a promoter, you can reward users that complete good deeds by offering them offers in exchange for the UDC
            earned. Offers must have a description detailing what the collaborators are paying for, and a price tag.
          </p>
          <p>
            With Deustocoin, the intention is to achieve an equivalence between UDC and the Euro; this is, 1 UDC should
            be equal to 1€.
          </p>
        </div>
      </div>
      <div class="forms-container menu-container">
        <div class="form-box" id="create-campaign">
          <form id="create-campaign-form" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
              <p>
                <label for="campaign_name">{{ gettext('Nombre de la campaña') }}</label>
                {{form.campaign_name(class="form-control", required="")}}
              </p>
            </div>
            {% if user.role == "Administrator" %}
            <div class="form-group">
              <label for="company">{{ gettext('Empresa') }}</label>
              {{form.company(class="form-control", required="")}}
            </div>
            {% endif %}
            <div class="form-group">
              <label for="description">{{gettext('Descripción')}}</label>
              {{form.description(class="form-control", required="")}}
            </div>
            <div class="d-flex w-100 align-items-center justify-content-center">
              <input type="button" name="create_campaign" value="Create campaign" id="create-campaign-button"
                class="btn btn-outline-dark">
            </div>
          </form>
        </div>

        <div class="form-box" id="create-action">
          <form action="/action" id="create-action-form" method="POST">
            <div class="form-group">
              <p>
                <label for="action-name">{{gettext('Nombre de la acción')}}</label>
                <input type="text" class="form-control" name="name" id="action-name" required>
              </p>
            </div>
            <div class="form-group">
              <p>
                <label for="action-description">{{gettext('Descripción')}}</label>
                <input type="text" class="form-control" name="description" id="action-description" required>
              </p>
            </div>
            <div class="form-group">
              <p>
                <label for="action-kpi">{{gettext('Indicador de KPI')}}</label>
                <input type="text" class="form-control" name="kpi" id="action-kpi" required>
              </p>
            </div>
            <div class="d-flex align-items-center justify-content-center" style="gap: 5px">
              <div class="form-group" style="flex: 1 1 auto;">
                <p>
                  <label for="action-reward">Reward</label>
                  <input type="number" step="0.01" class="form-control" name="reward" id="action-reward"
                    oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                    required>
                </p>
              </div>
              <div class="form-group" style="flex: 1 1 auto;">
                <p>
                  <label for="action-target">{{gettext('Objetivo')}}</label>
                  <input type="number" step="0.01" class="form-control" name="target" id="action-target"
                    oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                    required>
                </p>
              </div>
            </div>
            <div class="form-group">
              <p>
                <select class="form-control" name="campaign">
                  <option disabled selected>{{gettext('Campaña')}}</option>
                  {% for c in campaigns %}
                  <option value='{{c.id}}'>{{c.name}}</option>
                  {% endfor %}
                </select>
              </p>
            </div>
            <div class="d-flex w-100 align-items-center justify-content-center">
              <input type="button" name="create_action" value="{{gettext('Crear acción')}}" class="btn btn-outline-dark"
                id="create-action-button">
            </div>
          </form>
        </div>

        <div class="form-box" id="create-offer">
          <form id="create-offer-form" method="POST">
            {{ form2.csrf_token }}
            <div class="form-group">
              <p>
                <label for="offer_name">{{gettext('Nombre de la oferta')}}</label>
                {{form2.offer_name(class="form-control", required="")}}
              </p>
            </div>
            {% if user.role == "Administrator" %}
            <div class="form-group">
              <label for="offer-company">{{gettext('Organización')}}</label>
              {{form2.company(class="form-control", required="", id="offer-company")}}
            </div>
            {% endif %}
            <div class="form-group">
              <label for="offer-description">{{gettext('Descripción')}}</label>
              {{form2.description(class="form-control", required="", id="offer-description")}}
            </div>
            <div class="form-group">
              <label for="offer-price">{{gettext('Precio')}}</label>
              {{form2.price(class="form-control", required="", id="offer-price", type="number", oninput="this.value =
              !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null", step="0.01")}}
            </div>
            <div class="d-flex w-100 align-items-center justify-content-center">
              <input type="button" name="create_offer" value="Create offer" id="create-offer-button"
                class="btn btn-outline-dark">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="tables-container menu-container">
      <div id="campanyas" class="table-container">
        {% if campaigns|length >= 1 %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">{{gettext('Nombre')}}</th>
              <th scope="col">{{gettext('Descripción')}}</th>
            </tr>
          </thead>
          <tbody>
            {% for c in campaigns %}
            <tr>
              <td scope="row" class="d-flex align-items-start justify-content-center flex-column">
                <div style="font-weight: 600;">
                  {{c.name}}
                </div>
                <div class="text-secondary">
                  {{c.company}}
                </div>
              </td>
              <td style="max-width: 120ch; min-width: 260px;">{{c.description}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h4>{{gettext('No hay campañas para mostrar')}}</h4>
        {% endif %}
      </div>
      <div id="acciones" class="table-container">
        {% if actions|length >= 1 %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="nom">{{gettext('Nombre')}}</th>
              <th scope="col" class="des">{{gettext('Descripción')}}</th>
              <th scope="col" class="rec">Reward</th>
              <th scope="col" class="ind">{{gettext('Indicador')}}</th>
              <th scope="col" class="est">Progress</th>
              <th scope="col" class="qr">{{gettext('Código QR')}}</th>
            </tr>
          </thead>
          <tbody>
            {% for a in actions %}
            <tr>
              <td scope="row" class="nom d-flex align-items-start justify-content-center flex-column">
                <div style="font-weight: 600;">
                  {{a.name}}
                </div>
                <div class="text-secondary">
                  {{a.company}}
                </div>
              </td>
              <td class="des">{{a.description}}</td>
              <td class="rec">{{a.reward}} UDC</td>
              <td class="ind">{{a.kpi_indicator}}</td>
              <td class="est">{{a.kpi}}/{{a.kpi_target}}</td>
              <td>
                <a href="{{ url_for('qr' ,action_id=a.id) }}" target="_blank" class="qr-link">
                  <b>{{gettext('Descargar')}}</b>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h4>{{gettext('No hay acciones para mostrar')}}</h4>
        {% endif %}
      </div>
      <div id="ofertas" class="table-container">
        {% if offers|length >= 1 %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">{{gettext('Nombre')}}</th>
              <th scope="col">{{gettext('Descripción')}}</th>
              <th scope="col">{{gettext('Precio')}}</th>
              <th scope="col">{{gettext('Código QR')}}</th>
            </tr>
          </thead>
          <tbody>
            {% for o in offers %}
            <tr>
              <td scope="row" class="d-flex align-items-start justify-content-center flex-column">
                <div style="font-weight: 600;">
                  {{o.name}}
                </div>
                <div class="text-secondary">
                  {{o.company}}
                </div>
              </td>
              <td>{{o.description}}</td>
              <td>{{o.price}} UDC</td>
              <td>
                <a href="{{ url_for('qr_offers' ,offer_id=o.id) }}" target="_blank" class="qr-link">
                  <b>{{gettext('Descargar')}}</b>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h4>{{gettext('No hay ofertas para mostrar')}}</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="action-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Do you want to create a new good deed?</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" id="action-submit" href="/action">Create</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="campaign-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Do you want to create a new campaign?</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" id="campaign-submit" href="/action">Create</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="offer-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Do you want to create a new offer?</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" id="offer-submit" href="/action">Create</a>
      </div>
    </div>
  </div>
</div>

<script>
  $('#create-action-button').click(function (e) {
    if ($('#create-action-form').valid()) {
      $('#action-modal').modal('show');
    }
  });
</script>
<script>
  $('#create-campaign-button').click(function (e) {
    if ($('#create-campaign-form').valid()) {
      $('#campaign-modal').modal('show');
    }
  });
</script>
<script>
  $('#create-offer-button').click(function (e) {
    if ($('#create-offer-form').valid()) {
      $('#offer-modal').modal('show');
    }
  });
</script>
<script>
  $('#action-submit').click(function (e) {
    e.preventDefault();
    let input = $('<input>')
      .attr("type", "hidden")
      .attr('name', 'create_action');
    $('#create-action-form').append(input);
    $('#create-action-form').submit();
  });
</script>
<script>
  $('#campaign-submit').click(function (e) {
    e.preventDefault();
    let input = $('<input>')
      .attr("type", "hidden")
      .attr('name', 'create_campaign');
    $('#create-campaign-form').append(input);
    $('#create-campaign-form').submit();
  })
</script>
<script>
  $('#offer-submit').click(function (e) {
    e.preventDefault();
    let input = $('<input>')
      .attr("type", "hidden")
      .attr('name', 'create_offer');
    $('#create-offer-form').append(input);
    $('#create-offer-form').submit();
  })
</script>

<script>
  $("#create-campaign").show();
  $("#create-action").hide();
  $("#create-offer").hide();
  $("#campanyas").show();
  $("#acciones").hide();
  $("#ofertas").hide();
  $("#select-campaigns").addClass('selected');
  $("#select-actions").removeClass('selected');
  $("#select-offers").removeClass('selected');
</script>
<script>
  $(document).ready(function () {
    $("#select-campaigns").click(function () {
      $("#create-campaign").show();
      $("#create-action").hide();
      $("#create-offer").hide();
      $("#campanyas").show();
      $("#acciones").hide();
      $("#ofertas").hide();
      $("#select-campaigns").addClass('selected');
      $("#select-actions").removeClass('selected');
      $("#select-offers").removeClass('selected');
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#select-actions").click(function () {
      $("#create-campaign").hide();
      $("#create-action").show();
      $("#create-offer").hide();
      $("#campanyas").hide();
      $("#acciones").show();
      $("#ofertas").hide();
      $("#select-campaigns").removeClass('selected');
      $("#select-actions").addClass('selected');
      $("#select-offers").removeClass('selected');
    });
  });
</script>
<script>
  $(document).ready(function () {
    $("#select-offers").click(function () {
      $("#create-action").hide();
      $("#create-campaign").hide();
      $("#create-offer").show();
      $("#campanyas").hide();
      $("#acciones").hide();
      $("#ofertas").show();
      $("#select-campaigns").removeClass('selected');
      $("#select-actions").removeClass('selected');
      $("#select-offers").addClass('selected');
    });
  });
</script>
{% endblock %}