{% extends "base.html" %} 
{% block headtitle %}
{{gettext('Ofertas')}}
{% endblock %}
{% block body %}
<h2 class="h2 content-title">{{gettext('Ofertas')}}</h2>
<div class="view">
  <div class="bg-light card px-5 py-5 mb-5">
    <h2>{{gettext('Hola')}}, {{ name }}.</h2>
    <span style="font-size: 1rem">{{gettext('Estas son las ofertas disponibles para ti.')}}</span>
    <span style="font-size: 1rem">{{gettext('Tu saldo actual es de')}} <b>{{ wallet }}</b> UDCoins.</span><br />
  </div>

</div>
<div id="ofertas">
  {% if offers|length >= 1 %}
  <div class="row">
    {% for o in offers %}
    <div class="col-xl-4 mb-4">
      <div class="card shadow mb-4 h-100" style="padding: 0 !important;">
        <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
          <h5 class="m-0 font-weight-bold">{{o.name}} - {{o.price}} UDC</h5>
        </div>
        <div class="card-body">
          <span class="font-weight-bold">Company: {{o.company}}</span>
          <p class="text-left">{{o.description}}</p>
          <div class="d-flex align-items-center justify-content-center">
            <button type="button" class=" btn btn-outline-info btn-sm" id="offer-submit-{{o.id}}">
              <b>{{gettext('Canjear oferta')}}</b>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="redeem-modal-{{o.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Do you want to redeem the offer "{{o.name}}" in exchange for {{o.price}} UDC?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" id="campaign-submit"
              href="{{ url_for('redeem_offer', offer_id=o.id) }}">Redeem</a>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="credit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Error</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">You don't have enough coins.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      $('#offer-submit-{{o.id}}').click(function (e) {
        e.preventDefault();
        if ({{ o.price }} < {{ wallet }}) {
          $('#redeem-modal-{{o.id}}').modal('show');
        } else {
          $('#redeem-modal-{{o.id}}').modal('hide');
          $('#credit-modal').modal('show');
        }
      });
    </script>
    {% endfor %}
  </div>
  {% else %}
  <h4>{{gettext('No hay ofertas para mostrar.')}}</h4>
  {% endif %}
</div>

{% endblock %}