{% extends "base.html" %}
{% block headtitle %}
{{gettext('Offer editor')}}
{% endblock %}
{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    {% if user.role == "Administrator" %}
    <h1 class="h2 content-title">{{gettext('Editor de ofertas - Administrador')}}</h1>
    {% else %}
    <h1 class="h2 content-title">{{gettext('Editor de ofertas de')}} {{user.organization}}</h1>
    {% endif %}
</div>
<div class="view">

</div>
<div id="ofertas">
    {% if offers|length >= 1 %}
    <div class="row">
        {% for o in offers %}
        <div class="col-xl-4 mb-4">
            <div class="card shadow mb-4 h-100" style="padding: 0 !important;">
                <div class="card-header py-3 d-sm-flex align-items-center justify-content-between">
                    <h5 class="m-0 font-weight-bold">{{o.name}} - {{o.price}} UDC</h5>

                    <form action="{{ url_for('offers_admin') }}" method="post" id="offer-form-{{o.id}}"
                        class="d-flex align-items-center justify-content-center">
                        <input type="submit" name="edit_offer" class="{{o.id}} btn btn-sm btn-outline-primary mx-1 my-1"
                            value="✎">
                        <input type="button" name="delete_offer"
                            class="{{o.id}} btn btn-sm btn-outline-danger mx-1 my-1" value="✖" data-toggle="modal"
                            data-target="#delete-modal-{{o.id}}">
                        <input value="{{o.id}}" name="id" style="display: none;">
                    </form>
                </div>
                <div class="card-body">
                    <span class="font-weight-bold">Company: {{o.company}}</span>
                    <p class="text-left">{{o.description}}</p>
                    <div class="d-flex align-items-center justify-content-center">
                        <a href="{{ url_for('qr_offers' ,offer_id=o.id) }}" target="_blank"
                            class="btn btn-sm btn-outline-info">
                            <b>{{gettext('Descargar')}}</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="delete-modal-{{o.id}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Do you want to delete the offer "{{o.name}}"?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" id="delete-submit-{{o.id}}" href="/offer-editor">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#delete-submit-{{o.id}}').click(function (e) {
                e.preventDefault();
                let input = $('<input>')
                    .attr("type", "hidden")
                    .attr('name', 'delete_offer');
                $('#offer-form-{{o.id}}').append(input);
                $('#offer-form-{{o.id}}').submit();
            });
        </script>
        {% endfor %}
    </div>
    {% else %}
    <h4>{{gettext('No hay ofertas para mostrar.')}}</h4>
    {% endif %}
</div>
{% endblock %}