{% extends "base.html" %} 
{% block headtitle %}
{{gettext('Editor de ofertas')}}
{% endblock %}
{% block body %}
<h2 class="h2 content-title">{{gettext('Editor de ofertas')}}</h2>
<div class="view">
    <div class="bg-light card px-5 py-5 mb-5">
        <h2>{{offer.name}}</h2>
    </div>
    <form id="editoroferta" action="{{ url_for('offer_editor', offer_id=offer.id) }}" method="POST">
        <div class="form-group">
            <p>
                <label for="name">Offer name</label>
                <input type="text" class="form-control" placeholder="{{gettext('Nombre')}}" name="name" id="name"
                    value='{{offer.name}}' required></input>
            </p>
        </div>
        <div class="form-group">
            <p>
                <label for="description">Offer description</label>
                <input type="text" class="form-control" placeholder="{{gettext('Descripción')}}" name="description"
                    id="description" value="{{offer.description}}" required></input>
            </p>
        </div>
        <div class="form-group">
            <p>
                <label for="price">Offer price</label>
                <input type="text" class="form-control" placeholder="{{gettext('Precio')}}" name="price" id="price"
                    value="{{offer.price}}" required></input>
            </p>
        </div>
        <p>
            <input type="button" formmethod="POST" value="{{gettext('Actualizar')}}" class="btn btn-primary btn-large" 
              id="update-button">
            </input>
        </p>
    </form>
</div>
<div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Do you want to update the offer?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="update-submit" href="/action">Update</a>
            </div>
        </div>
    </div>
</div>
<script>
    $('#update-button').click(function (e) {
        if ($('#editoroferta').valid()) {
            $('#update-modal').modal('show');
        }
    });
</script>
<script>
    $('#update-submit').click(function (e) {
        e.preventDefault();
        $('#editoroferta').submit();
    });
</script>
{% endblock %}