{% extends "base.html" %} 
{% block headtitle %}
{{gettext('Pago por oferta')}}
{% endblock %}
{% block body %}
<h1 class="h2 content-title">{{gettext('Pago por oferta')}} - {{offer.name}}</h1>
<div class="view">
  <div class="bg-light card px-5 py-5 mb-5">
    <h2>{{gettext('Hola')}}, {{ name }}</h2>
    <h2>
      <span style="font-size: 1rem">{{gettext('Has pagado')}} {{offer.price}} UDCoins {{gettext('a')}} {{offer.company}}
        {{gettext('por')}} {{offer.name}}.</span>
    </h2>
  </div>

  {% endblock %}