{% extends "base.html" %}
{% block headtitle %}
{{gettext('¡Enhorabuena!')}}
{% endblock %}
{% block body %}
<h2 class="h2 content-title">{{gettext('¡Enhorabuena!')}}</h2>
<div class="view">
  <div class="bg-light card px-5 py-5 mb-5">
    <h2>{{gettext('Hola')}}, {{ name }}.</h2>
    <h2>
      <span style="font-size: 1rem">{{gettext('Has obtenido')}} {{action.reward/100}} UDCoins {{gettext('de')}}
        {{action.company}} {{gettext('por')}} {{action.name}}.</span>
    </h2>
  </div>
</div>
{% endblock %}