{% extends "base.html" %} 
{% block headtitle %}
{{gettext('Cartera')}}
{% endblock %}
{% block body %}
<h2 class="h2 content-title">{{gettext('Cartera')}}</h2>
<div class="view">
  <div class="bg-light card px-5 py-5 mb-5">
    <h2>{{gettext('Hola')}}, {{ name }}.</h2>
    {% if user.blockAddr is not none %}
    <p style="font-size:11px;text-align:left;">{{gettext('Tu dirección de Blockchain es')}} {{user.block_addr}}.</p>
    {% endif %}
    <p style="text-align: left;">
      <span style="font-size: 1rem">{{gettext('Tu saldo actual es de')}} <b>{{ wallet }}</b> UDCoins.</span><br />
    </p>
    <p><button class="btn btn-primary btn-large" id="mostrarformudc">{{gettext('Enviar UDC')}}</button></p>
  </div>
  <form style="display: none;" id="udcform" method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      <p>
        <label for="exampleInputEmail1">{{gettext('Correo electrónico del destinatario')}}</label>
        <br />
        {{form.destiny(class="form-control", required="")}}
      </p>
    </div>
    <div class="form-group">
      {{gettext('Cantidad de UDCs a enviar')}}
      <br />
      {{form.quantity(class="form-control", required="")}}
    </div>
    <p>
      <input type="button" name="create_offer" value="Send" id="send-btn" class="btn btn-outline-dark">
    </p>
  </form>
</div>

<div class="modal fade" id="wallet-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm action</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Do you want to send <span id="udc-span"></span> UDC to <span id="udc-mail"></span>?</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" id="wallet-submit" href="/wallet">Send</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="credit-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">You don't have enough coins to send.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        The requested destination user does not exist. Please introduce a valid email address.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  $('#send-btn').click(function (e) {
    e.preventDefault();
    if($('#udcform').valid()) {
      $('#udc-span').text($('#quantity').val());
      $('#udc-mail').text($('#destiny').val());
      $('#wallet-modal').modal('show');
    }
  });
  $('#wallet-submit').click(function (e) {
    e.preventDefault();
    if($('#quantity').val() < {{ wallet }}) {
      $('#udcform').submit();
    } else {
      $('#wallet-modal').modal('hide');      
      $('#credit-modal').modal('show');
    }
  });
</script>
<script>
  $(document).ready(function () {
    $("#mostrarformudc").click(function () {
      $("#udcform").show();
    });
    if ({{ nouser }} === 1) {
      $('#error-modal').modal('show');
    }
  });
</script>

{% endblock %}